div {
    width: 200px;
    height: 200px;
    border: 1px solid #000;
}

#a {
    float: left;
}

#b {
    float: right;
}

#c {
    float: left;
}

#d {
    float: right;
}

footer {
    clear: both;
    background-color: aqua;
}